// app global css in SCSS form

.q-btn {
  text-transform: none;
}

.generator-container {
  max-width: 48rem;
}

.type-btn {
  border: 2px solid grey;
  width: 7rem;
}

.prompt-input {
  font-size: 1.2rem;
}

.width-60 {
  width: 30rem;
}

.container {
  max-width: 1350px;
}

.text-underline {
  text-decoration: underline;
}
